body {
  box-sizing: border-box;
  background-color: rgb(7, 7, 87);
}
.img {
  height: 200px;
  background-image: url(./img/nasa-logo-web-rgb.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.result p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 auto;
  padding: 24px 8px 0;
  width: 350px;
  color: white;
  line-height: 150%;
  text-align: center;
}
