* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 24px;
  line-height: 168%;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient( #406cfe14, transparent 1px), linear-gradient(90deg, #406cfe14, transparent 1px);
  background-size: 16px 16px;
  background-position: center center;
}