body {
    background-color: rgb(226, 225, 219);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    padding: 16px 16px 8px;
}
li {
    padding: 8px;
}